---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Support">

<section>
  <h1 class="text-4xl font-bold my-4">Support</h1>
  <p class="my-4">
    Feel free to send your questions, suggestions, feature requests,
    and bug reports to our email address at
    <a href="mailto:info@unitsapp.xyz" class="text-blue-600">info@unitsapp.xyz</a>.
  </p>
</section>

</Layout>